<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#registration" role="tab" aria-controls="registration" aria-selected="true">Registration</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
      <form action="index.html">
        <div class="form-group">
          <label for="loginUsername">Login(Email)</label>
          <input type="email" class="form-control" id="loginUsername" aria-describedby="emailHelp" placeholder="your@email.com" [(ngModel)]='loginData.email' name="email" required email>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="loginPassword">Password</label>
          <input type="password" class="form-control" id="loginPassword" placeholder="Minimum 8 characters, latin letters and digits" [(ngModel)]='loginData.password' name="password" required>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="loginCheck">
          <label class="form-check-label" for="loginCheck">Check me out</label>
        </div>
        <button type="button" class="btn btn-primary" (click)='onLogging()'>Login</button>
      </form>
    </div>
    <div class="tab-pane fade show active" id="registration" role="tabpanel" aria-labelledby="registration-tab">
      <form action="index.html">
        <div class="form-group">
          <label for="registrationUsername">Login(Email)</label>
          <input type="email" class="form-control" id="registrationUsername" aria-describedby="emailHelp" placeholder="your@email.com" [(ngModel)]='registrationData.email' name="email" required email>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="registrationPassword">Password</label>
          <input type="password" class="form-control" id="registrationPassword" placeholder="Minimum 8 characters, latin letters and digits" (input)='validatePassword()' [(ngModel)]='registrationData.password' name="password" required>
          <small id="passwordHelp" class="form-text text-muted">{{passwordStrength}}</small>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="registrationCheckTerms" [(ngModel)]='registrationData.terms' name="terms">
          <label class="form-check-label" for="registrationCheckTerms">I agree with service terms and conditions </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="registrationCheckEmail" [(ngModel)]='registrationData.getEmails' name="getEmails">
          <label class="form-check-label" for="registrationCheckEmail"> I agree to recieve news to my email</label>
        </div>
        <button type="button" class="btn btn-primary" (click)='onRegistration()' [disabled]='registrationData.password.length < 8'>Registration</button>
      </form>
    </div>

    <div class="alert alert-success" role="alert" [hidden]="!isRegistrationSuccess">
      <h4 class="alert-heading">Well done!</h4>
      <p>Your account with login {{registrationData.email}} created. We sent you letter to {{registrationData.email}} with your email conformation link.
        Please follow the link from email we sent to confirm it. After confirmation you can login to your account at AIREXE.io.</p>
      <hr>
      <p class="mb-0">If you don’t see emails form support@airexe.io, please check “SPAM” folders at your mailbox, it might be there.</p>
    </div>

    <div class="alert alert-danger" role="alert" [hidden]="!isRegistrationFailed">
      <h4 class="alert-heading">Ooops!</h4>
      <p>{{errorMessage}}</p>
      <hr>
      <p class="mb-0">If you don’t see emails form support@airexe.io, please check “SPAM” folders at your mailbox, it might be there.</p>
    </div>
  </div>
</div>

