.center {
    text-align: center;
    margin: 0 auto;
}

.btn-blue {
    background: #2b4a91;
    border-radius: 0;
    position: relative;
    color: #fff;
}

.required {
    color: red;
    font-size: 20px;
}

label.btn-blue {
    margin-bottom: 0;
}

.fz-15 {
    font-size: 15px;
}

.margin-bottom-42 {
    margin-bottom: 42px;
}