<div [formGroup]="form">
    <div [ngSwitch]="question.controlType">
      <label for="question.key" class="col-xs-2 col-form-label">{{question.label}}:

          <span class="badge badge-success" [hidden]='!(question.validate == 1)'>Verified</span>
          <span class="badge badge-danger" [hidden]='!(question.validate == 2)'>Rejected</span>
          <span class="badge badge-warning" [hidden]='!(question.validate == 0)'>Waiting verification</span>

      </label>
      <div class="col-xs-10">
          <input class="form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key"
          [id]="question.key" [type]="question.type">

        <select class="form-control" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
          <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>

      </div>

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
  </div>


