<div class="container-fluid">
    <div class="row pl-5 pr-5 ">
        <h3 class="col-12 text-center">
            You logged into your personal account at AIREXE.io crypto-fiat exchange.
        </h3>
        <p>
            <br>The current version is limited by following functions only:
        </p>
        <ul class="col-12 ml-2">
            <li>Registration at AIREXE;</li>
            <li>Sending your personal data for KYC verification;</li>
            <li>Sending your personal data for KYC verification;</li>
        </ul>
        <p class="col-12">
            Full version of private account will be available from the date of AIREXE.io exchange launched in operation.
        </p>
        <div class="alert alert-primary" role="alert ">
            <h4 class="alert-heading text-primary">Referral program</h4>
            <p>You can earn free AIRX tokens for each new person who will register at AIREXE.io with your referral link. See your referral link in “My Account” menu. Distribute your referral link to social media or to your friends. Each new person registered
                through your referral link will bring you free AIRX tokens. How many AIRX tokens you earned is displayed in “My Account” menu. Note: you will receive AIRX only for users who registered with your referral link and also confirmed their emails!
            </p>
        </div>
        <p class="col-12">
            Please fill in verification form in menu “Pre-verification”, attach required photos and send to AIREXE verification.
        </p>
        <div class="alert alert-primary" role="alert ">
            <h4 class="alert-heading text-primary">
                Contribute, support and invest in AIREXE project
            </h4>
            <span>
                We are already working on AIREXE.io crypto-fiat exchange development. However, we really need financing for the AIREXE.io project, to make it happen, to launch great and the best cryptocurrency exchange! Please contribute in AIREXE project and buy AIRX
                tokens. AIRX tokens you will use with great profit for yourself after the AIREXE exchange launched. How to buy AIRX tokens please read here:
            </span>
            <a class="text-primary text-center" target="_blank" href="https://airexe.io/buytokens.html">
                <p> <u>https://airexe.io/buytokens.html</u> </p>
            </a>
        </div>
<ngx-twitter-timeline
    [data]="{
        sourceType: 'url',
        url: 'https://twitter.com/Airexe_official?ref_src=twsrc%5Etfw'}"
    [opts]="{
        tweetLimit: 10
    }"
></ngx-twitter-timeline>
    </div>
</div>
