<!-- <a class="twitter-timeline" data-width="600" data-height="800" href="https://twitter.com/Airexe_official?ref_src=twsrc%5Etfw">Tweets by Airexe_official</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script> -->

<!-- <twitter-timeline>
  <a class="twitter-timeline" href="https://twitter.com/Airexe_official?ref_src=twsrc%5Etfw" data-widget-id="673710543212052480"> Tweets from https://twitter.com/IAmAru/lists/food-trucks</a>
</twitter-timeline> -->

<!-- <ng4-twitter-timeline [dataSrc]="{sourceType: 'profile',screenName: 'Airexe_official'}" [opts]="{tweetLimit: 10}"></ng4-twitter-timeline> -->
