<div class="container profile">
    <form>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label text-white">Email: </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control text-dark" id="staticEmail" [(ngModel)]='userEmail.value' name="userEmail">
                <!-- <input type="text" readonly class="form-control text-dark" [(ngModel)]='referalId' name='referalId' disabled> -->
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label text-white">Email Verified: </label>
            <div class="col-sm-8">
                <span class="badge badge-success" [hidden]='userEmail.validation !== "1"'>Yes</span>
                <span class="badge badge-danger" [hidden]='(userEmail.validation === "1")'>No</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label text-white">Your account verification: </label>
            <div class="col-sm-8">
                <span class="badge badge-success" [hidden]='!(userVerificationStatus === "3")'>Verified</span>
                <span class="badge badge-danger" [hidden]='!(userVerificationStatus === "4")'>Rejected</span>
                <span class="badge badge-warning" [hidden]='!(userVerificationStatus === "2" || userVerificationStatus == "1")'>Waiting verification</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label text-white">Your referal link:</label>
            <div class="col-sm-8">
                <!-- <div class="input-group">

                    <span class="material-icons"ngxClipboard [cbContent]='referalId' (click)="copied()">content_copy</span>
                    <span class="input-group-btn">
                        <button class="btn" type="button" [ngxClipboard]="referalId" (click)="copied()">Copy</button>
                      </span>
                </div> -->
                <div class="input-group">
                    <input type="text" class="form-control text-dark" id="inputPassword" [(ngModel)]='referalId' name='referalId' readonly aria-describedby="copyHelp" #inputTarget>
                    <span class="input-group-btn">
                      <button class="btn btn-default" [class.btn-success]= "isCopied1" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied1 = true">Copy</button>
                    </span>
                  </div>
            </div>
            <small id="copyHelp" class="form-text text-muted mtm-10">{{copyHelp}}</small>
        </div>
    </form>
</div>




<!-- <div class="row">
    <div class="col-sm-12">
        <h3>Copy from text -- text</h3> Click this button, it will copy the text from the input by referring to the <strong>text content</strong>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="text" placeholder="content will be copy after click the copy button">
            <span class="input-group-btn">
          <button class="btn btn-default" [class.btn-success]= "isCopied1" type="button" ngxClipboard [cbContent]="text" (cbOnSuccess)="isCopied1 = true">copy</button>
        </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Copy from text -- target</h3> Click this button, it will copy the text from the input by referring to the <strong>input element</strong>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="text2" placeholder="content will be copy after click the copy button" #inputTarget>
            <span class="input-group-btn">
          <button class="btn btn-default" [class.btn-success]= "isCopied2" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied2 = true">copy</button>
        </span>
        </div>
    </div>
</div> -->
