<div class="container bg-white profile">

    <form>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email: </label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control text-dark" id="staticEmail" [(ngModel)]='userEmail.value' name="userEmail">
                <!-- <input type="text" readonly class="form-control text-dark" [(ngModel)]='referalId' name='referalId' disabled> -->
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email Verified: </label>
            <div class="col-sm-8">
                <span class="badge badge-success" [hidden]='!isEmailVerified'>Yes</span>
                <span class="badge badge-danger" [hidden]='isEmailVerified'>No</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Your account verification: </label>
            <div class="col-sm-8">
                <span class="badge badge-success" [hidden]='!(isAccountVerified === 2)'>Verified</span>
                <span class="badge badge-danger" [hidden]='!(isAccountVerified === 1)'>Rejected</span>
                <span class="badge badge-warning" [hidden]='!(isAccountVerified === 0)'>Waiting verification</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Your referral link:</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control text-dark" id="inputPassword" [(ngModel)]='referalId' name='referalId' readonly aria-describedby="copyHelp" #inputTarget>
                    <span class="input-group-btn">
                      <button class="btn btn-default" [class.btn-success]= "isCopied1" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied1 = true">Copy</button>
                    </span>
                </div>
            </div>
            <!-- <small id="copyHelp" class="form-text text-muted mtm-10">{{copyHelp}}</small> -->
        </div>
        <!-- <div class="col-3 center">
            <button class='btn btn-blue mt-3'>Change passwrod</button>
        </div> -->
    </form>
</div>
