<div class="container-fluid mar_pad-0 bg-blue">
    <app-navbar></app-navbar>
    <div class="container-fluid mar_pad-0">
        <div class="row mar_pad-0">
            <div id='sidebar'  class="col-2 mar_pad-0 sidebar {{css_class_sidebar}}">
                <app-sidebar></app-sidebar>
            </div>
            <div id='wrapper' class="col-10 mar_pad-0 bg-white wrapper {{css_class_wrapper}}">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
