.mar_pad-0 {
    margin: 0;
    padding: 0;
}

.max-height {
    max-height: 30%;
}

.bg-blue {
    background: #005c85;
}


@media only screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }

}

.wrapper {
    height: 100%;
}
